@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply text-primary
}


html {
  font-size: 16px;
}

:disabled {
 opacity: .5;
 cursor: not-allowed;
}

h2:has(+ .capsul.hidden) {
  @apply bg-cyan-900
}